extends layout 

block content 

  h1= title 
  form(method='POST')
    div(class='form-group')
      label(for='first_name') First Name: 
      input(id='first_name', class='form-control', type='text', placeholder='First name (Christian)', name='first_name', required, value=(author === undefined ? '' : author.first_name))
      label(for='family_name') Family Name: 
      input(id='family_name', class='form-control', type='text', placeholder='Family name (Surname)', name='family_name', required, value=(author === undefined ? '' : author.family_name))
      div(class='form-group')
        label(for='date_of_birth') Date of birth: 
        input(id='date_of_birth', class='form-control', type='date', name='date_of_birth', value=(author===undefined ? '' : author.date_of_birth_yyyy_mm_dd))
        label(for='date_of_death') Date of death: 
        input(id='date_of_death', class='form-control', type='date', name='date_of_death', value=(author===undefined ? '' : author.date_of_death_yyyy_mm_dd))
      button(type="submit" class='btn btn-primary') Submit 

  if errors 
    ul 
      for error in errors 
        li!= error.msg 